node_modules
.next
out
.env*.local
.vercel
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache

# uploads (runtime)
/public/uploads/*
!/public/uploads/.gitkeep
